/* #region PAGE */

.ypfcom__main-section {
    margin-block-end: 65px;
}

/* #endregion PAGE */

/* #region TEXT */

.by-law-text {
    font-family: din-medium;
}

.by-law-text h5 {
    margin-bottom: 8px;
}

.by-law-text p {
    margin-bottom: 16px;
}

/* #region TEXT */

/* #region FILE */

.links-list {
    padding-left: 0.75rem;
}

.links-list .links-list__links {
    margin-block: 25px;
}

.links-list .links-list__links .links-list__item {
    background-color: #F0F0F0;
}

.links-list .links-list__links .links-list__item a {
    display: block;
    font-family: din-medium;
    font-size: 14px;
    line-height: 22px;
    color: #808080;
    text-decoration: none;
    padding: 10px 20px 10px 40px;
    background-image: url(https://ypf.com/images/decorativas/pdf.png);
    background-repeat: no-repeat;
    background-position-y: 9px;
    background-position-x: 11px;
}
.links-list .links-list__links .links-list__item a:hover {
    text-decoration: none;
    color: #3a3939;
}

/* #endregion FILE */